/*--------------*/
/* BS OVERRIDES START*/
/*--------------*/

header{
    background-color: #333;
}

h1, h2, h3, h4, h5, h6{
    color: #676767;
}

.no-left-gutter{
    padding-left: 0px !important;
}

.navbar{
    margin-bottom: 0px;
}

/* We only have 2 elements, make them all wider */
.navbar-nav {
    width: 35%;
}

.navbar-nav>li {
    width: 50%;
    text-align: right;
}

/* Force full width for mobile */
@media( max-width:767px ){
    .navbar-nav {
        width: 100%;
    }
    .navbar-nav>li {
        width: 100%;
    }
}

@media ( min-width: 768px ) and ( max-width: 991px ) {
    .navbar-nav {
        width: 50%;
    }
}

.navbar-default{
    background-color: inherit;
    border: 0;
}

.navbar-brand{
    padding-left: 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
    color: #E7E7E7;
}

.navbar-default .navbar-nav>li>a{
    font-size: 16px;
    line-height: 26px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
    background-color: #7B7B7B;
    transition: color 0.5s ease;
    color: #FFF;
}

.navbar-default .navbar-nav>.open>a:hover{
    transition: color 0.5s ease;
    color: #DFEA7B;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: #7B7B7B;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    transition: color 0.5s ease;
    color: #DFEA7B;
}

.dropdown-menu{
    min-width: 100%;
    text-align: right;
    font-size: 16px;
    background-color: #7B7B7B;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu>li>a{
    color: #FFF;
    min-height: 20px;
    line-height: 3;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus{
    transition: color 0.5s ease;
    color: #DFEA7B;
    background-color: #333;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus{
    transition: color 0.5s ease;
    background-color: #575757;
}
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus{
    transition: color 0.5s ease;
    color: #DFEA7B;
}
.breadcrumbs{color:#FFF}
.breadcrumb{
    background-color: inherit;
    border: 0;
    border-radius: 0;
    padding: 18px 0;
    margin: 0;
    float: left;
    color: #FFF;

}

.breadcrumb a{
    color: #FFF;
}

.breadcrumb > li:before,
.breadcrumb > li + li:before{
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}

.bottom-buffer{ 
    margin-bottom: 20px;
}

.right-buffer{ 
    margin-right: 20px;
}

.inline{
    display: inline !important;
}

/*--------------*/
/* BS OVERRIDES END*/
/*--------------*/

/*--------------*/
/* WP OVERRIDES START*/
/*--------------*/

img.alignleft {
    float: left;
    display: inline;
}

img.aligncenter{
    clear: both;
    margin: 0 auto;
    display: block;
}

img.alignright {
    float: right;
    display: inline;
}

/*--------------*/
/* WP OVERRIDES END*/
/*--------------*/

/*--------------*/
/* HEADER START */
/*--------------*/

.navbar-brand .glyphicon{
    top: 2px;
    margin-right: 5px;
}

/*--------------*/
/* HEADER END */
/*--------------*/

/*--------------*/
/*BOX LIST START*/
/*--------------*/

.ga-box-list .box-item{
    padding: 15px;
    margin-bottom: 25px;
    background: #FFF;
    max-width: 450px;
}

.ga-box-list{
    margin-bottom: 20px;
}

.ga-box-list .box-item p{
    margin-bottom: 0px;
    font-size: 12px;
}
.ga-box-list .box-item a.img-crop{
    display: block;
    overflow: hidden;
    min-height: 277px;
    max-height: 314px;
}

.ga-box-list h3{
    margin-top: 0;
}

.ga-box-list h3 a{
    color: #676767;
}

.ga-box-list img{
    margin-right: 15px;
    margin-bottom: 10px;
}

.ga-box-list .ga-box-description{
    margin-top: 10px;
}

.ga-box-links{
    margin-top: 20px;
}

.ga-box-links a{
    border: 1px solid #DFEA7B;
    display: block;
    padding: 10px 0;
}

.ga-box-links a:hover {
    background-color: #DFEA7B;
    color: #FFF;
    text-decoration: none;
}

/*--------------*/
/* BOX LIST END*/
/*--------------*/

/*--------------*/
/* BODY START*/
/*--------------*/

#the-content{
    margin-top: 20px;
}

/*--------------*/
/* BODY End*/
/*--------------*/


/*--------------*/
/* FOOTER START */
/*--------------*/
/** Magic fixed footer */
html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 56px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #333;
    color: #FFF;
}

footer p{
    margin: 0;
    line-height: 3.0;
    padding: 7px 0px;
}

footer ul{
    margin-top: 15px;
    margin-bottom: 0;
}

footer a{
    color: #FFF;
}

footer a:hover{
    transition: color 0.5s ease;
    color: #DFEA7B;
    text-decoration: none;
}

/*--------------*/
/* FOOTER END */
/*--------------*/