/*--------------*/
/* BS OVERRIDES START*/
/*--------------*/

header{
    background-color: #333;
}

h1, h2, h3, h4, h5, h6{
    color: #676767;
}

h1{
    font-size: 28px;
}

.no-left-gutter{
    padding-left: 0px !important;
}

.navbar{
    margin-bottom: 0px;
}

/* We only have 2 elements, make them all wider */
.navbar-nav {
    width: 35%;
}

.navbar-nav>li {
    width: 50%;
    text-align: center;
}

/* Force full width for mobile */
@media( max-width:767px ){
    .navbar-nav {
        width: 100%;
    }
    .navbar-nav>li {
        width: 100%;
    }
}

.navbar-default{
    background-color: inherit;
    border: 0;
}

.navbar-brand{
    padding-left: 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
    color: #E7E7E7;
}

.navbar-default .navbar-nav>li>a{
    font-size: 16px;
    line-height: 26px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
    background-color: #7B7B7B;
    color: #FFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    color: #DFEA7B;
}

.dropdown-menu{
    min-width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: #7B7B7B;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.dropdown-menu>li>a{
    color: #FFF;
}

.bottom-buffer{ 
    margin-bottom: 20px;
}

.right-buffer{ 
    margin-right: 20px;
}

.inline{
    display: inline !important;
}

/*--------------*/
/* BS OVERRIDES END*/
/*--------------*/

/*--------------*/
/* HEADER START */
/*--------------*/

.navbar-brand .glyphicon{
    top: 2px;
    margin-right: 5px;
}

/*--------------*/
/* HEADER END */
/*--------------*/

/*--------------*/
/*BOX LIST START*/
/*--------------*/

/*
ga box list used in newsletter library
and data tools pages
*/

.ga-box-list .box-item{
    padding: 15px;
    margin-bottom: 25px;
    background: #FFF;
}

.ga-box-list .box-item.disabled{
    border: 1px dashed #EEE;
    background: none;
}

.ga-box-list{
    margin-bottom: 20px;
}

.ga-box-list .box-item p{
    margin-bottom: 0px;
    font-size: 12px;
}

.ga-box-list .box-item p.frequency{
    color: #485D7C;
}

.ga-box-list .box-item.disabled img{
    /* Chrome/Webkit Only for now */
    filter: grayscale(1) blur(1px) opacity(0.8);
}

.ga-box-list h2 small{
    display: block;
    background: #61799b; /*Default Colour*/
    height: 20px;
    width: 320px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.ga-box-list h2 small.colour-1{
    background: #61799b;
}

.ga-box-list h2 small.colour-2{
    background: #A4B5CF;
}

.ga-box-list h2 small.colour-3{
    background: #949BA5;
}

.ga-box-list h3{
    margin-top: 0;
}

.ga-box-list h3 a{
    color: #676767;
}

.ga-box-list img{
    margin-right: 15px;
    margin-bottom: 10px;
}

.ga-box-list .ga-box-description{
    margin-top: 10px;
}

.ga-box-links {
    margin-top: 20px;
}

.ga-box-links a{
    border: 1px solid #DFEA7B;
    display: block;
    padding: 10px 0;
}

.ga-box-links a:hover {
    background-color: #DFEA7B;
    color: #FFF;
    text-decoration: none;
}

/*--------------*/
/* BOX LIST END*/
/*--------------*/


/*--------------*/
/* FOOTER START */
/*--------------*/

footer p{
    margin: 0;
    line-height: 3.0;
}

footer ul{
    margin-top: 15px;
    margin-bottom: 0;
}

/*--------------*/
/* FOOTER END */
/*--------------*/