/*--------------*/
/* BS OVERRIDES START*/
/*--------------*/

body{
    padding-top: 20px;
}

.no-left-gutter{
    padding-left: 0px !important;
}

/* We only have 2 elements, make them all wider */
.navbar-nav {
    width: 60%;
}

.navbar-nav>li {
    width: 50%;
    text-align: center;
}

/* Force full width for mobile */
@media( max-width:767px ){
    .navbar-nav {
        width: 100%;
    }
    .navbar-nav>li {
        width: 100%;
    }
}

.navbar-nav>li {
    border-left: 1px solid #E7E7E7;
}


/*--------------*/
/* BS OVERRIDES END*/
/*--------------*/

/*--------------*/
/* HEADER START */
/*--------------*/

.navbar-brand .glyphicon{
    top: 2px;
    margin-right: 5px;
}

/*--------------*/
/* HEADER END */
/*--------------*/

/*--------------*/
/*BOX LIST START*/
/*--------------*/

/*
ga box list used in newsletter library
and data tools pages
*/

.ga-box-list .box-item{
    padding: 15px;
    margin-bottom: 25px;
    background: #FFF;
}

.ga-box-list .box-item.disabled{
    border: 1px dashed #EEE;
    background: none;
}

.ga-box-list{
    margin-bottom: 20px;
}

.ga-box-list .box-item p{
    margin-bottom: 0px;
    font-size: 12px;
}

.ga-box-list .box-item p.frequency{
    color: #485D7C;
}

.ga-box-list .box-item.disabled img{
    /* Chrome/Webkit Only for now */
    filter: grayscale(1) blur(1px) opacity(0.8);
}

.ga-box-list h2 small{
    display: block;
    background: #61799b; /*Default Colour*/
    height: 20px;
    width: 320px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.ga-box-list h2 small.colour-1{
    background: #61799b;
}

.ga-box-list h2 small.colour-2{
    background: #A4B5CF;
}

.ga-box-list h2 small.colour-3{
    background: #949BA5;
}

.ga-box-list h3{
    margin-top: 0;
}

.ga-box-list h3 a{
    color: #676767;
}

.ga-box-list img{
    margin-right: 15px;
    margin-bottom: 10px;
}

.ga-box-list .ga-box-description{
    margin-top: 10px;
}

.ga-box-links {
    margin-top: 20px;
}

.ga-box-links a{
    border: 1px solid #5B345B;
    display: block;
    padding: 10px 0;
}

.ga-box-links a:hover {
    background-color: #5B345B;
    color: #FFF;
    text-decoration: none;
}

/*--------------*/
/* BOX LIST END*/
/*--------------*/

/*--------------*/
/* Carousel START */
/*--------------*/

/* @todo cross browser options */
.carousel-bg-top{
    background: #E0E0E0;
    background: linear-gradient(to bottom, rgba(224,224,224,1) 0%, rgba(248,248,248,1) 100%);
}

/* @todo cross browser options */
.carousel-bg-bottom{
    background: #E0E0E0;
    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%, rgba(224,224,224,1) 100%);
}

#slider-thumbs{
    margin-top: 15px;
}

#slider-thumbs img{
    width: 75px;
}

#slider-thumbs.list-inline{
    text-align: center;
    margin-left: -45px;
}

#slider-thumbs.list-inline>li{
    margin-right: 7.5px;
}

.selected img{
    opacity:0.5;
}

.carousel-control.right,
.carousel-control.left{
    background: none;
}

.carousel-control{
    colour: #F8F8F8;
}

.carousel-inner > .item > img{
    margin: 0 auto;
}

#carousel-bounding-box{
    padding-bottom: 15px;
}

/* We hide the tumbnails in mobile, so need padding here */
@media ( max-width: 992px ){
    #carousel-bounding-box{
        padding-top: 15px;
    }
}

/*--------------*/
/* Carousel END */
/*--------------*/